<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mallproject.mapper.CommentMapper">


    <select id="getComments" resultType="com.example.mallproject.entity.Comment">
        SELECT id, user_id, content, create_time, like
        FROM sys_comment ${ew.customSqlSegment}
    </select>
</mapper>
