<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mallproject.mapper.FileMapper">
    <insert id="saveByUrls" parameterType="java.util.List">
        insert into
        oss_file(url)
        values
        <foreach collection="urls" item="url" index="index" separator=",">
            (#{url})
        </foreach>
    </insert>

    <select id="getUrls" parameterType="java.util.List" resultType="String">
        select url
        from oss_file
        <where>
        <foreach collection="ids" item="id" open="id in(" separator="," close=")">
            #{id}
        </foreach>
    </where>
    </select>
</mapper>
