<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.system.design.mapper.ManagerSystemNoticeMapper">
    <update id="updateState" parameterType="java.util.List">
        update t_manager_system_notice
        SET state = 1
        WHERE system_notice_id IN
        <foreach collection="ids" item="id" open="(" separator="," close=")">#{id}
        </foreach>
    </update>

    <select id="getMessage" resultType="com.system.design.entity.vo.ManagerSystemNoticeVo">
        SELECT
        system_notice_id, title, content, publish_time
        FROM
        t_manager_system_notice
        WHERE
        recipient_id = #{recipient_id}
        AND
        state = 0
        AND
        TIMESTAMP (publish_time) &lt;= #{publish_time}
    </select>
</mapper>
